{% macro render_field(field) %}
  <div class="form-group">
  <label for="{{field.id}}">{{ field.label }}</label>
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}

{% macro build_formlist(form) %}
<form method=post action="{{ url_for('register') }}">
{% for field in form %}
  {% if not field.name in ['csrf_token'] %}
    {{ render_field(field) }}
  {% endif %}
{% endfor %}
</form>
{% endmacro %}


