{% extends "layout.html" %}
{% block body %}
{% include 'header.html' %}
<div class="container">
<h2>{{ header }}</h2>

<form method="post" action="">
{% for field in form %}
  <div class="form-group">
  <label for="{{field.id}}">{{ field.label }}</label>
  {% if field.type == 'BooleanField' %}
  	{{ field(class_="checkbox") }}
  {% else %}
    {{ field(class_="form-control") }}
  {% endif %}
  </div>
{% endfor %}
<div class="form-group">
    <button type="submit", name="submit", value="Save">Add</button>
    <button type="submit", name="submit", value="Delete">Clear</button>
</div>
</form>

{% from "_listhelpers.html" import list_entries %}
{{ list_entries(
    entries = entries,
    fields = fields,
    header = header,
    ) }}


</div>
{% endblock %}