{% extends "layout.html" %}
{% block body %}
{% include 'header.html' %}

{% from "_listhelpers.html" import list_entries %}
{% from "_listhelpers.html" import list_entries_panel %}
{% from "_listhelpers.html" import list_dependencies %}

<div class="container">

    <div class = "row">
        <div class = "col-md-12">
            <h2>{{ header }}s</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class = "row">

                <div class="col-md-12">
                    {{ list_entries_panel(
                    entries = entries,
                    fields = fields,
                    header = header,
                    ) }}
                </div>

                <div class="col-md-12">
                    <button data-toggle="collapse" data-target="#addentry">Add {{ header }}</button>
                    <div id="addentry" class="collapse">
                        <form method="post" action="">
                        {% for field in form %}
                          <div class="form-group">
                          <label for="{{field.id}}">{{ field.label }}</label>
                          {% if field.type == 'BooleanField' %}
                            {{ field(class_="checkbox") }}
                          {% else %}
                            {{ field(class_="form-control") }}
                          {% endif %}
                          </div>
                        {% endfor %}
                            <div class="form-group">
                                <button type="submit", name="submit", value="Save">Save</button>
                                <button type="submit", name="submit", value="Delete">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-4">
            {{ list_dependencies(
                entries = dependencies,
                ) }}
        </div>
    </div>

</div>
{% endblock %}